<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GetHit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{157,175}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{162,1},{157,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{157,177}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{321,1},{157,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{153,177}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{480,1},{153,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{635,1},{155,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{159,175}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{792,1},{159,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{123,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{953,1},{123,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{127,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1078,1},{127,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{119,178}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1207,1},{119,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{121,176}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1328,1},{121,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{123,176}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1451,1},{123,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{127,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1576,1},{127,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{75,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1705,1},{75,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{75,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1782,1},{75,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{73,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1859,1},{73,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{73,177}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1934,1},{73,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{2009,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{75,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{2080,1},{75,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2157,1},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{127,164}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2284,1},{127,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{141,162}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2413,1},{141,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{131,166}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2556,1},{131,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{129,164}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2689,1},{129,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{129,164}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{2820,1},{129,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{169,163}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1,181},{169,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{165,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{172,181},{165,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{155,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{339,181},{155,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{151,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{496,181},{151,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{157,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{649,181},{157,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{808,181},{165,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{131,168}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{975,181},{131,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{125,170}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1108,181},{125,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{121,170}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1235,181},{121,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{123,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1358,181},{123,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{129,174}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1483,181},{129,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{133,172}</string>
                <key>spriteSourceSize</key>
                <string>{173,180}</string>
                <key>textureRect</key>
                <string>{{1614,181},{133,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{71,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1749,181},{71,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{75,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1822,181},{75,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{77,175}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1899,181},{77,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{71,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{1978,181},{71,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{67,177}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{2051,181},{67,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{67,175}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{2120,181},{67,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{129,163}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2189,181},{129,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,2}</string>
                <key>spriteSize</key>
                <string>{125,167}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2320,181},{125,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{139,169}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2447,181},{139,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{131,167}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2588,181},{131,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{129,165}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2721,181},{129,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetHit_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{173,175}</string>
                <key>textureRect</key>
                <string>{{2852,181},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>GetHit.png</string>
            <key>size</key>
            <string>{2984,359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4f19a0d4598d7ee81f99b869bb9f6f:d2eaa5bf3098f8af313b5030c74c49e6:aa245506c6225bee7c727ed5fd7fc295$</string>
            <key>textureFileName</key>
            <string>GetHit.png</string>
        </dict>
    </dict>
</plist>
