<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{91,98}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-4}</string>
                <key>spriteSize</key>
                <string>{115,74}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{94,1},{115,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,14}</string>
                <key>spriteSize</key>
                <string>{131,71}</string>
                <key>spriteSourceSize</key>
                <string>{177,115}</string>
                <key>textureRect</key>
                <string>{{211,1},{131,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{113,78}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{344,1},{113,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{459,1},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{538,1},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,13}</string>
                <key>spriteSize</key>
                <string>{135,73}</string>
                <key>spriteSourceSize</key>
                <string>{177,115}</string>
                <key>textureRect</key>
                <string>{{651,1},{135,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{119,92}</string>
                <key>spriteSourceSize</key>
                <string>{177,116}</string>
                <key>textureRect</key>
                <string>{{788,1},{119,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Dead.png</string>
            <key>size</key>
            <string>{908,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599b9d4b69b48008d74a2023d2c5812b:ff9e24f7cab81af9a8917e4d1e686584:78c29c9bc0794dd30c76ea6b8f0c5218$</string>
            <key>textureFileName</key>
            <string>Dead.png</string>
        </dict>
    </dict>
</plist>
